.account-welcome-text {
  h2 {
    text-align: center;
    color: #007DC6;
  }
}

.order-welcome-text {
 .go-back {
    color:#B6B6B6;
    font-size: 14px;
    border-bottom: 1px solid #B6B6B6;
    padding-bottom: 10px;
    margin-bottom: 10px;
 }  
 
 .heading {
  text-align: left;

  h2 {
    color: #007DC6;
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 10px;
      margin-top: 10px;
    }
  }



 }
 
}

.account-orders {
  
  h4{
    font-family: $font-banner;
    font-size:22px;
    color:#F5821F;
    padding-bottom:10px;
  }

  h6{
    font-family: $font-default;
    color: #B6B6B6;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .overview-rep {
    
    .card{
      border:1px solid #DCDCDC;
      padding: 5px;
      border-radius: 0;

      a.borderbtn {
        display: block;
        text-align: center;
        float: none;
      }
    }

    .acc-rep-list {
      ul{
        height: 200px;
        padding:0;
        margin:0;
        overflow-y: scroll;

        li{
          list-style: none;
          margin-bottom: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #909090;

          &:last-child{
            border: 0;
            margin: 0;
            padding: 0;
          }

          h5 {
            font-family: $font-default;
            font-size: 20px;
          }

          p {
            color: #6A6A6A;
            margin:0;
            display:inline-block;
            width: 100%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

          }

          a{
            padding: 10px 0 0;
            display: inline-block;
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  }

 .recent-orders {
    border:1px solid #DCDCDC;
    padding: 20px;

    .recent-list {
        tr {
          td {
            vertical-align: middle;
            border-top: 0;
            border-bottom: 1px solid #909090;

            @include mq-only("xs", "sm") {
              display: block;
              border-bottom: 0;
              padding: 10px 0;
            }

          }

          td.reorder {
            @include mq-only("xs", "sm") {
              border-bottom: 1px solid #909090;
              padding-bottom: 20px;
              margin-bottom: 20px;
            }
          }

          &:last-child {
            td {
              &:last-child {
                border-bottom: 0;
                margin-bottom: 10px;
                padding-bottom: 0;
              }
            }
          }
        }
      

      h5 {
        font-family: $font-default;
        font-size: 16px;
        color: #B6B6B6;
        margin: 0;
      }

      strong {
        color: #009DF9;
        font-weight: normal;
        @include mq-only("xs", "sm") {
          font-size: 16px;
          font-weight: bold;
        }
      }

      a.viewdet {
        text-decoration: underline;
        @include mq-only("xs", "sm") { 
          text-align: center;
          display: block;
          font-size: 16px;
        }
      }

      button{
        @include mq-only("xs", "sm") { 
          width: 100%;
        }
      }

      ul {
        padding:0;
        margin: 0;
        li {
          list-style: none;
          display: inline-block;
          padding: 0 55px;

          @include mq-only("xs", "sm") {
            padding: 0 23px 0 0;
          }
        }
      }

      p {
        margin: 0;
      }
    }

    .view-order-btn {
      button {
        @include mq-only("xs", "sm") { 
          width: 100%;
        }
      }
    }

  }

  .recent-orders.order-hist {
    border:0;
    padding: 0;
  }

  .dash-dropdown {
    display: none;
    @include mq-only("xs", "sm") { 
      margin-bottom: 20px;
      display:block;
    }
  }


  // Profile Section
.pfofile-section {
  .left-col {
    border-right: 1px solid #DCDCDC;
  }

  .profile-desc{
    padding-left: 30px;
  }
}

  #profile-items {
    margin: 0;
    padding: 15px 0;
    
    li {
      list-style: none;
      a{
        color: #909090;
        text-decoration: none;
        font-size: 16px;
        padding: 13px 0;
        display: block;

        &:hover {
          color: #009DF9;
          font-weight: 600;
        }

        &.active {
          color: #009DF9;
          font-weight: 600;
        }

      }
    } 
  }

  .profile-desc {
    h3 {
      color: #F5821F;
      margin-bottom: 30px;
    }

    h4 {
      margin-bottom: 25px;
    }

    input[type="button"] {
      width:250px;
      margin: 15px 0;
    }

    #preference{
      .shopping-mode
      {
        label {
          width: 100%;
          margin: 0 0 10px 0;
          &:last-child {
            margin:0;
          }
        }
      }
    }
  }

  .book-detail{
    border: 1px solid #909090;
    padding: 20px;
    width:60%;

    h5 {
      font-family: $font-default;
      font-weight: bold;
    }

    ul {
      margin:0;
      padding: 0;
      list-style: none;
    }

    .right-area {
      width: 100%;
      height: 100%;
      display: table;
      ul {
        display: table-cell;
        vertical-align: middle;
        li{
          width:50%;
          float: left;
          text-align: center;
        }

        .default {
          a {
            color: #8AC33E;
            font-weight: 600;
          }
        }
      }
    }
  }

  
  // Favorites items

  .favorites-products {
    .favorite-product-box {
      
      &:hover {
        .btn-add-cart {
          background: #8AC33E;
        }
      }

      .re-product-thumbnail {
        height: 212px;
        width: 100%;
        overflow: hidden;
        position: relative;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: 100%;
        }

        .btn-wish {
          width: 38px;
          height: 38px;
          border-radius: 50%;
          background-color: $whiteclr;
          position: absolute;
          right: 8px;
          top: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 24px;
            height: auto;
          }
        }

        a.btn-quick-view {
          position: absolute;
          left: 0;
          right: 0;
          display: block;
          margin: auto;
          text-align: center;
          font-size: 14px;
          width: 100px;
          background-color: white;
          padding: 4px;
          bottom: 15px;
          border-radius: 16px;
          text-decoration: none;
        }
      }

      .tag {
        padding: 4px 8px;
        display: inline-block;
        font-size: 14px;
        color: $text-black;
        margin-bottom: 12px;
        &.tag-new {
          background-color: $btngreen;
        }
        &.tag-best {
          background-color: $orrangeDark;
        }
      }

      h4 {
        font-size: 15px;
        font-family: $font-default;
        color: #1E1E1E;
        font-weight: 400;
        line-height: 21px;
        text-transform: initial;
      }

      ul.re-prie {
        display: flex;
        margin-bottom: 4px;
        li {
          font-weight: 700;
          font-size: 22px;
          &.re-quantity {
            font-weight: 400;
            margin-left: 15px;
            font-size: 14px;
            position: relative;
            top: 6px;
          }
        }
      }

      .wholsale {
        font-weight: 400;
        font-size: 14px;
      }

      .btn-add-cart {
        display: block;
        margin: auto;
        width: 100%;
        margin-top: 14px;
      }

      .re-product-detail {
        padding: 12px;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }