.findrep-banner{
  background-size: 100%; 
  height: 195px; 
  background-repeat: no-repeat;

  @include mq-only("xs", "sm") {
    height: 70px;
  }
}

.find-rep-sec {
  .form-sec {
    width: 50%;
    margin:0 auto;
    text-align: center;

    h2 {
      color: #2DB1FF;
      font-family: $font-banner;
    }

    form {
      position: relative;
      width: 80%;
      margin: 0 auto;
    }

    input[type="text"]{
      border: 1px solid #b6b6b6;
      padding: 5px 5px 5px 15px;
      border-radius: 8px 0px 0px 8px;
      width: 100%;
    }

    input[type="submit"] {
      position: absolute;
      top: 0px;
      right: -10px;
      border: 0;
      padding: 6px 15px;
      border-radius: 0px 10px 10px 0px;
    }

    @include mq-only("xs", "sm") {
      width: 100%;
    }
  }
}

.brand-filters-cards{
  .product-grids.find-rep-res {
    .img-wrap {
      width: 212px;
      height: 186px;

      img {
        width: 100%;
      }
    }
  }

  .product-grids  {
    .col {
      flex: 20%;
      
      @include mq-only("xs", "sm") {
        flex: 50%;
      }
    }
  }
}


.explore-title{
  h3 {
    font-family: $font-banner;
    color: #009DF9;
    padding-bottom: 30px;
  }
}

.brands-banner.rep-detail-bann {
  min-height: 260px;
  figure {
    top:-30px;
    width: 212px;
    height: 212px;

    @include mq-only("xs", "sm") {
      width: 135px;
    }

    figcaption {
      position: absolute;
      top: 35px;
      left: 100%;
      width: 305px;
      margin-left: 20px;

      h1 {
        font-size:40px;
      }

      @include mq-only("xs", "sm") {
        top:0;
        width:220px;

        h1 {
          font-size:42px;
          padding: 15px 0 12px;
        }
      }
      
      h1,h3 {
        color: #1E1E1E;
      }
      h3 {
        background: url(/assets/images/location_on.png) no-repeat;
        background-repeat: no-repeat;
        padding: 3px 0 5px 33px;
        margin-top: 15px;
        font-size: 22px;
        background-size: 25px;
        background-position: 0 1px;
      }
    }
  }
}

.findrep-details {
  
  ul {
    list-style: none;
    padding: 0;
  }

  .rep-bio {
    li{
        float: left;
        margin-right: 20px;

        @include mq-only("xs", "sm") {
          float:none;

          a.borderbtn {
            width: 100%;
            display: block;
            text-align: center;
            margin: 15px 0;
            padding: 10px;
          }
        }
    }
  }

  .rep-bio-right {
    width: 350px;
    float: right;

    h5 {
      color: #007DC6;
    }
    .borderbtn {
      float: left;
      margin-top: 5px;

      @include mq-only("xs", "sm") {
        width:100%;
        float:none;
        padding: 10px;
        display: block;
        text-align: center;
      }
    }

    li {
      margin: 10px 0;

      @include mq-only("xs", "sm") {
        margin:20px 0;
      }
      
      &:first-child {
        a{
          background: url(/assets/images/phone.png) no-repeat;
          padding: 0px 0px 3px 30px;

          @include mq-only("xs", "sm") {
            padding: 0px 0px 7px 30px;
          }
        }
      }
      &:nth-child(2) {
        a{
          background: url(/assets/images/mail.png) no-repeat;
          padding: 2px 0px 0px 30px;

          @include mq-only("xs", "sm") {
            padding: 2px 0px 3px 30px;
          }
        }
      }
    }

    @include mq-only("xs", "sm") {
      float:left;
      
      h5 {
        font-size: 28px;
        padding: 10px 0;
        font-weight: 600;
      }
    }
    
  }
}