.signuplink {
  text-align: center;
  background: #FDE7E7;
  font-size:20px;
  padding: 15px;

  a{
    text-decoration: underline;
  }
}

.login-section{

    .login-form{   
      width:40%;
      margin: 0 auto;

      .forgot-link {
        text-align: right;
      }

      input[type="submit"] {
        width: 100%;
        padding: 10px;
        font-weight: bold;
      }

      .form-control {
        border-radius: 0;
      }

      h1 {
        color: #F5821F;
        text-align: center;
      }

      p {
        text-align:center;
      }

      label {
        font-family: $font-default;
      }

      @include mq-only("xs", "sm") {
        width:80%;
      }
    }
}

hr.login-stips {
  background: url(/assets/images/dots-tripe1.png);
  background-repeat: repeat-x;
  background-size: 100%;
  height: 50px;
  border: 0;
  margin-top: 50px;
  padding-bottom: 0;
  margin-bottom: 10px;
}

