.shop-cart-section {
  
  .goback {
    color: #B6B6B6;
    margin-bottom: 10px;
    i {
      font-weight: normal;
    }
  }

  h2 {
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
  .emply-trolly {
    text-align: center;

    img {
      display: inline-block;
      margin-bottom: 30px;
    }

  }

  .order-min {
    ul {
      display: block;
      margin: 10px 0;
      overflow: hidden;
      li{
        float: left;
        padding-right: 10px;
        &:last-child {
          float: right;
        }

        .fa-check-circle-o {
          font-size: 20px;
        }
      }
    }

    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }

}

.myshop-cards {

  border-bottom: 1px solid #ccc;
  border-radius: 0;

  ul.card-list {
    margin: 25px 0 15px;

    @include mq-only("xs", "sm") {
      margin: 25px 0 0 15px;
    }
  }

  ul {
    margin: 0;
    padding:0;
    display: flex;

    li {
      list-style: none;
      
      figure{ 
        overflow: hidden;
        margin-right: 20px;
        img {
          width: 96px;
          height: 96px;
          border-radius: 100px;
        
          @include mq-only("xs", "sm") {
            width: 64px;
            height: 64px;
          }
        }
      }

      ul {
        li {
          margin-right: 20px;

          &:last-child{
            color: #909090;
          }
        }
      }

      h6 {
        font-size: 14px;
        color: #909090;
        font-family: $font-default;
        font-weight: normal;
        padding: 5px 0;
      }
    }

    .myshop-li {
      margin: 15px 0;

      @include mq-only("xs", "sm") {
        margin:0;
      }
    }
  }

  .discount-box {
    border: 1px solid #ccc;
    padding: 15px;
  }

  .order-summary {
    padding: 15px;
    border: 1px solid #ccc;

    h4 {
      color: #F5821F;
      margin-bottom: 20px;
    }

    h5 {
      font-family: $font-default;
    }

    ul{
      display: flex;
      padding-bottom: 10px;
      li{
        flex: 50%;
        &:last-child {
          text-align:center;
        }
      }
    }

    .brand-total {
      border-top: 1px solid #1e1e1e;
      margin-top: 10px;
      padding-top: 15px;
      
      strong {
        font-size: 20px;
      }
 
    } 
    .shipping-txt {
      .dull {
          text-align: center;
          columns: #B6B6B6;
          font-size: 14px;
      }

    }
    
  }

  .delete-all {
    text-align: center;
    border-top: 1px solid #DCDCDC;
    a{
      text-decoration: underline;
      padding: 5px 0;
      margin: 5px 0;
      display: inline-block;
    }
  }

  .keep-shop {
    margin: 0 20px 20px;
  }

}

.myshop-cards:last-child {
  border: 0;
  border-radius: 0;
  margin-bottom: 30px;
}

.brandp-listing {
  border: 1px solid #DCDCDC;
  
  .added-items {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #DCDCDC;

    @include mq-only("xs", "sm") {
      .card-body {
        padding-right: 10px;
      }
      .col-sm-2 {
        width: 35%;
      }

      .col-sm-10 {
        width:65%;
      }
    }

    h5 {
      font-family: $font-default;
    }

    p {
      margin: 0;
    }

    figure {
      margin: 30px 0;
      text-align:center;
      img {
        width: 112px;
        height: 112px;
        border: 1px solid #DCDCDC;
        display: inline-block;
      }
    }

    ul {
      display: flex;

      li {
        flex: 50%;

        &:last-child {
          text-align: right;
          padding-top: 20px;
        }

        .cart-qty {
          margin-top: 5px;
        }

        .dull {
          color: #909090;
          font-size: 14px;
        }
        
        .total {
          font-size: 16px;
        }

        .min-qty {
          font-size: 14px;
        }

        .fa-trash-o {
          font-size: 16px;
        }
      }

    }

    .qlist-detail {
      li {
        &:first-child {
          flex: 87%;
        }    
      }
    }

  }

  .qlist-item {
    .for-mobile {
      display: none;
    }

    @include mq-only("xs", "sm") {
      .for-desktop {
        display: none;
      }

      .qlist-card-items.for-mobile {
        display: flex;
        li{
          &:first-child{
            flex: 40%;
          }
          &:last-child {
            width: 60%;
          }
        }
      }

    }

    .input-group {
      width:40%;
      @include mq-only("xs", "sm") {
        width: 100%;
      }
    }

  }
}


.checkout-boxes {
  border: 1px solid #DCDCDC;

  h4 {
    background-color: #F5F5F5;
    font-size: 22px;
    padding: 10px 15px;
  }

  .inner-box {
    padding: 15px 5%;

    input.error-outline {
      background: url(/assets/images/error_outline.png);
      background-position: 99% 55%;
      background-repeat: no-repeat;
    }

    button {
      font-size: 16px;
    }
  }


}